{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "arrow-parens": [
      "error",
      "always"
    ],
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "no-plusplus": "off",
    "no-tabs": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "import/order": [
      "error",
      {
        "group": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "jsx-a11y/label-has-for": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-indent": [
      "error",
      "tab"
    ],
    "react/jsx-indent-props": [
      "error",
      "tab"
    ],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-methods",
          "constructor",
          "render",
          "lifecycle",
          "everything-else"
        ]
      }
    ],
    "react/prefer-stateless-function": "off"
  }
}
