// Variables
$slider-height: 20px;

// Styles
&#options {
	.container {
		max-width: 720px;
		> div {
			&:not(:last-of-type) {
				border-bottom: 1px solid $trans;
			}
			&.range-slider {
				.slider {
					.track {
						&.track-1 {
							z-index: 1;
							background: transparentize(white, 0.25);
						}
						&.track-2 {
							border-top-right-radius: $slider-height / 2;
							border-bottom-right-radius: $slider-height / 2;
						}
					}
					.thumb {
						&.thumb-0 {
							transform: translateX(-50%);
						}
						&.thumb-1 {
							transform: translateX(50%);
						}
					}
				}
			}
			&.text-slider {
				.slider {
					.track {
						&.track-1 {
							border-top-right-radius: $slider-height / 2;
							border-bottom-right-radius: $slider-height / 2;
						}
					}
				}
			}
			.slider {
				width: 100%;
				height: $slider-height * 2;
				.track {
					position: relative;
					top: $slider-height;
					height: 25%;
					margin: ($slider-height / 4) 0;
					background: $trans;
					&.track-0 {
						border-top-left-radius: $slider-height / 2;
						border-bottom-left-radius: $slider-height / 2;
					}
				}
				.thumb {
					top: $slider-height;
					display: flex;
					justify-content: center;
					width: $slider-height;
					height: $slider-height;
					background-color: white;
					border-radius: 50%;
					cursor: pointer;
					&.active {
						background-color: white;
					}
					.thumb-value {
						position: relative;
						top: -$slider-height;
						display: flex;
						align-items: center;
						height: $slider-height;
						white-space: nowrap;
						text-align: center;
					}
				}
			}
		}
	}
}
