// Styles
&#type {
	* {
		user-select: none;
	}
	.types-container {
		flex: 1 0 auto;
		.types {
			flex: 0 0 auto;
			flex-flow: row;
			min-height: 220px;
			.type {
				display: none;
				cursor: pointer;
				opacity: 0;
				transition: all $transition-length ease-in-out;
				&.before-pre-selected,
				&.pre-selected,
				&.selected,
				&.post-selected,
				&.after-post-selected {
					position: absolute;
					top: 0;
					bottom: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 15%;
				}
				&.before-pre-selected {
					left: -50%;
				}
				&.pre-selected {
					left: 7.5%;
					transform: translateX(-50%);
					opacity: 0.5;
				}
				&.selected {
					left: 50%;
					width: 40%;
					outline: none;
					transform: translateX(-50%);
					cursor: default;
					opacity: 1;
					h5 {
						opacity: 1;
					}
				}
				&.post-selected {
					left: 92.5%;
					transform: translateX(-50%);
					opacity: 0.5;
				}
				&.after-post-selected {
					left: 150%;
				}
				&:not(.selected) {
					&:hover,
					&:focus {
						svg {
							fill: white;
						}
					}
					&:active {
						outline: none;
					}
				}
				svg {
					transition: fill $transition-length ease-in-out;
					fill: white;
				}
				h5 {
					overflow: hidden;
					text-overflow: ellipsis;
					opacity: 0;
					transition: opacity $transition-length ease-in-out;
					@media (min-width: $desktop-breakpoint) {
						opacity: 1;
					}
				}
			}
		}
	}
	footer {
		flex: 0 0 auto;
		> button {
			border-radius: 10px 10px 0 0;
		}
		.presets-container {
			flex: 0 0 auto;
			height: 175px;
			overflow: hidden;
			transition: all $transition-length ease-in-out;
			&.hidden {
				height: 0;
				* {
					opacity: 0;
				}
			}
			* {
				transition: opacity $transition-length ease-in-out;
			}
			.presets {
				flex: 0 0 auto;
				overflow: auto;
				.preset {
					flex: 1 0 auto;
					min-width: 120px;
					text-decoration: none;
					background: none;
					&:hover {
						.preset-icon svg {
							fill: white;
						}
					}
					.preset-icon {
						max-width: 150px;
						max-height: 50px;
						svg {
							transition: all $transition-length ease-in-out;
							fill: white;
						}
					}
					p {
						transition: all $transition-length ease-in-out;
					}
				}
			}
		}
	}
}
