&#type {
	* {
		user-select: none;
	}
	.types-container {
		display: flex;
		margin-left: $spacing;
		margin-right: $spacing;
		flex: 1 0 auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.types {
			position: relative;
			display: flex;
			width: 100%;
			min-height: 220px;
			flex: 0 0 auto;
			flex-flow: row;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			.type {
				display: none;
				opacity: 0;
				transition: all $transition-length ease-in-out;
				cursor: pointer;
				&.before-pre-selected, &.pre-selected, &.selected, &.post-selected, &.after-post-selected {
					position: absolute;
					display: flex;
					top: 0;
					bottom: 0;
					width: 15%;
					justify-content: center;
					flex-direction: column;
				}
				&.before-pre-selected {
					left: -50%;
				}
				&.pre-selected {
					opacity: 0.5;
					left: 7.5%;
					transform: translateX(-50%);
				}
				&.selected {
					width: 40%;
					left: 50%;
					outline: none;
					opacity: 1;
					cursor: default;
					transform: translateX(-50%);
					h5 {
						opacity: 1;
					}
				}
				&.post-selected {
					opacity: 0.5;
					left: 92.5%;
					transform: translateX(-50%);
				}
				&.after-post-selected {
					left: 150%;
				}
				&:not(.selected) {
					&:hover, &:focus {
						color: $text-hover;
						svg {
							fill: $text-hover;
						}
					}
					&:active {
						outline: none;
					}
				}
				svg {
					width: 100%;
					fill: $text-colour;
					transition: fill $transition-length ease-in-out;
				}
				h5 {
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;
					margin: 0;
					opacity: 0;
					transition: opacity $transition-length ease-in-out;
					@media (min-width: $mobile-breakpoint) {
						opacity: 1;
					}
				}
			}
		}
	}
	footer {
		display: flex;
		margin-top: $spacing / 2;
		align-items: center;
		flex-direction: column;
		flex: 0 0 auto;
		#toggle-presets-button {
			display: flex;
			padding: 5px 15px;
			border: none;
			align-items: center;
			justify-content: center;
			color: $text-colour;
			background-color: $trans-bg;
			border-radius: 10px 10px 0 0;
			text-decoration: none;
		}
		.presets-container {
			display: flex;
			width: 100%;
			height: 175px;
			padding: ($spacing / 2) $spacing $spacing;
			flex: 0 0 auto;
			flex-direction: column;
			overflow: hidden;
			background-color: $trans-bg;
			transition: all $transition-length ease-in-out;
			&.hidden {
				height: 0;
				* {
					opacity: 0;
				}
			}
			* {
				transition: opacity $transition-length ease-in-out;
			}
			h3 {
				margin-bottom: 15px;
				text-align: center;
				cursor: default;
			}
			.presets::-webkit-scrollbar {
				visibility: hidden;
			}
			.presets {
				display: flex;
				width: 100%;
				margin: auto;
				flex: 0 0 auto;
				flex-direction: row;
				overflow: auto;
				.preset {
					display: flex;
					min-width: 120px;
					margin: auto;
					border: none;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					background: none;
					color: white;
					text-decoration: none;
					cursor: pointer;
					&:hover {
						color: $text-hover;
						.preset-icon svg {
							fill: $text-hover;
						}
					}
					.preset-icon {
						display: flex;
						max-width: 150px;
						max-height: 50px;
						justify-content: center;
						svg {
							max-width: 100%;
							max-height: 100%;
							fill: $text-colour;
							transition: all $transition-length ease-in-out;
						}
					}
					p {
						margin: 10px 0 0;
						transition: all $transition-length ease-in-out;
					}
				}
			}
		}
	}
}
