&#type {
	display: flex;
	flex-flow: column;
	.types {
		position: relative;
		display: flex;
		min-height: 220px;
		margin: 0;
		padding: 0;
		flex: 1 1 auto;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		@media screen and(min-width: $desktopBreakpoint) {
			align-items: flex-end;
		}
		.type {
			display: none;
			padding: $spacing / 2;
			opacity: 0;
			transition: all $transitionLength ease-in-out;
			cursor: pointer;
			@media screen and (min-width: $desktopBreakpoint){
				padding: $spacing;
			}
			&.beforePreSelected, &.preSelected, &.selected, &.postSelected, &.afterPostSelected {
				position: absolute;
				display: flex;
				width: 15%;
				justify-content: center;
				flex-direction: column;
			}
			&.beforePreSelected {
				left: -50%;
			}
			&.preSelected {
				opacity: 0.5;
				left: 7.5%;
				transform: translateX(-50%);
			}
			&.selected {
				width: 40%;
				left: 50%;
				opacity: 1;
				cursor: default;
				transform: translateX(-50%);
			}
			&.postSelected {
				opacity: 0.5;
				left: 92.5%;
				transform: translateX(-50%);
			}
			&.afterPostSelected {
				left: 150%;
			}
			svg {
				width: 100%;
				fill: white;
			}
			h5 {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				user-select: none;
			}
		}
	}
	.buttonContainer {
		display: flex;
		flex: 0 1 30%;
		justify-content: center;
		align-items: center;
		button {
			margin: auto;
		}
	}
}