// Imports
@import 'vars';
@import '~bootstrap/scss/bootstrap';
@import 'default';

// Styles
.frame {
	min-height: 100%;
	overflow: auto;
	background: $theme-colour no-repeat fixed center;
	background-size: cover;
	background-position-y: 100%;
	@media print {
		background: white !important;
	}
}
#react-root {
	overflow: hidden;
	background-color: $trans-bg;
	color: $text-colour;
	@media (min-width: $desktop-breakpoint) {
		border-radius: $spacing;
	}
	header {
		flex: 0 0 auto;
		user-select: none;
		cursor: default;
		@media (min-width: $desktop-breakpoint) {
			flex-direction: row;
		}
		img {
			max-width: 200px;
		}
	}
}
.module {
	display: flex;
	width: 100%;
	height: 100%;
	flex-flow: column;
	@import 'modules/type';
	@import 'modules/options';
	@import 'modules/results';
}
button {
	cursor: pointer;
}
