@import "~bootstrap/scss/bootstrap";
@import "colors";
@import "vars";
@import "default";
.frame {
	min-height: 100%;
	background: $theme-colour no-repeat fixed center;
	background-size: cover;
	background-position-y: 100%;
	overflow: auto;
	@media print {
		background: white !important;
	}
}
#react-root {
	overflow: hidden;
	background-color: $trans-bg;
	color: $text-colour;
	@media (min-width: $desktop-breakpoint) {
		border-radius: $spacing;
	}
	header {
		flex: 0 0 auto;
		user-select: none;
		cursor: default;
		@media (min-width: $desktop-breakpoint) {
			flex-direction: row;
		}
		img {
			max-width: 200px;
		}
	}
}
.module {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	@import "moduleType";
	@import "moduleOptions";
	@import "moduleResults";
}
button {
	cursor: pointer;
}
